@{
    ViewData["Title"] = "Desenvolvedores";
}

<link rel="stylesheet" href="~/css/desenvolvedores.css" asp-append-version="true" />

<section class="dev-container">

    <div class="dev-header">
        <h1>💻 Desenvolvedores</h1>
        <p>
            Conheça os integrantes responsáveis pelo desenvolvimento do Projeto EJA Cast.
        </p>
    </div>

    <div class="dev-grid">
        <div class="dev-card">
            <img src="/img/brayanFt.jpg" alt="Aluno 1">
            <h3>Brayan Carlos</h3>
            <span>Desenvolvedor</span>
            <p>| Programador C# | 17 anos |</p>
        </div>
    </div>

</section>